<form action="/upload" method="post" enctype="multipart/form-data">
<div class="block">
    <%- include('../item/breadcrumbs', {title: ['Member'], links: [''] }) %>
    <div class="block-container" style="position: relative;z-index: -1;">
        <div class="block-body">
            <div class="memberHeader">
                <div class="memberHeader-main">
                    <div class="memberHeader-mainContent">
                        <span class="memberHeader-avatar">
                            <span class="avatarWrapper">
                                <a class="avatar avatar--l" href="">
                                    <img src=<%= profile.avatarUrl %> alt=<%= profile.username %> loading="lazy" itemprop="image">
                                </a>
                                <% if(profile.username === user?.username) {%>
                                <a class="avatarWrapper-update" data-xf-click="overlay">Edit</a>
                                <% } %>
                            </span>
                        </span>
                        <div class="memberHeader-content">
                            <h1 class="memberHeader-name">
                                <span class="username">
                                    <%= profile.username%>
                                </span>
                            </h1>
                            <div class="memberHeader-blurbContainer">
                                <div class="memberHeader-blurb"></div>
                                <div class="memberHeader-blurb">
                                    <dl class="pairs pairs--inline">
                                        <dt>Joined: <%= profile.joined%></dt>
                                        <dd>sdksdk</dd>
                                    </dl>
                                </div>
                                <div class="memberHeader-blurb">
                                    <dl class="pairs pairs--inline">
                                        <dt>Last seen: </dt>
                                        <dd>skdskdskds</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="memberHeader-content">
                    dokfdjcdcdckdj
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blur-layer">

</div>
<div class="hidden-panel">
    <div class="block">
        <div class="overlay-title">
            <h1>Avatar</h1>
        </div>
        <div class="block-container">
            <div class="overlay-content">
                <div class="block-body">
                    <dl class="form-row">
                        <dt>
                            <div class="avatar-preview">
                                <a href="" class="avatar avatar--m">
                                    <img src=<%= profile.avatarUrl %> alt="">
                                </a>
                            </div>
                        </dt>
                        <dd>
                            <div class="avatar-input">
                                <h3>Upload new custom avatar:</h3>
                                <input type="file" name="image" id="">
                            </div>
                        </dd>
                    </dl>
              
                    <dl class="form-submit-row">
                        <dt></dt>
                        <dd>
                          <div class="form-submit-row-main">
                            <div class="form-submit-row-bar"></div>
                            <div class="form-submit-row-controll">
                              <button type="submit" class="button login-button">
                                <span class="button-text ">Okay</span>
                              </button>
                            </div>
                          </div>
                        </dd>
                    </dl>
                  </div>
            </div>
        </div>
    </div>
</div>
</form>